/* Michael Bruchal
   03AUG2012
   VFW 1208
   Project 2
*/

body{
	font-family: Arial, Helvetica, Verdana, sans-serif; 
	background: url(images/weights.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background size: cover;
	height: 100%;
	margin: 0;
	background-attachment: fixed;
	}
h1{
	font-family: 'Trade Winds', cursive;
	background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 553, color-stop(0, #FFFFFF), color-stop(1, #999697));
	color: red;
	text-shadow:
		3px 3px 0 #000,
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	text-align: center;
	margin: 10px 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 30px;
	margin-left: 30px;
	border-color: red;
	border-style: inset;
}
nav{
	text-align: center;
}
a {
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border: 1px solid #aaa;
  color: #444;
  font-size: inherit;
  margin-bottom: 0px;
  min-width: 4em;
  padding: 3px 12px 3px 12px;
  font-family: sans-serif;
  text-decoration: none;
}
a:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
  border-color: #999;
  color: #222;
  text-decoration: none;
}
a:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
  color: #333;
  text-decoration: none;
}
p{
	font-family: 'Black Ops One', cursive;
	background-color: black;
	border-color: red;
	border-style: inset;
	border-radius: 20px;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 1.5em auto;
	text-align: center;
}
legend{
	font-family: 'Trade Winds', cursive;
	font-size: x-large;
	text-align: center;
	color: red;
	text-shadow:
		3px 3px 0 #000,
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
fieldset{
	text-align: left;
	background: url(images/transparent_gradient.png) no-repeat;
	word-wrap:normal;
	border-color: red;
	border-style: inset;
	margin: 5px;
	margin-top: 20px;
}
li{
	display: block;
	font-family: 'Black Ops One', cursive;
	color: white;
	line-height: 30px;
}
input[type='range'] { 
	-webkit-appearance: none;
	border-style: inset;
	border-color: red;
	background-color: black;
}
label{
	font-family: 'Black Ops One', cursive;
	line-height: 30px;
	color: white;
}
#items{
	margin-top: 10px;
	border-color: red;
	border-style: inset;
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #999697), color-stop(1, #000000));
}
#start{
	margin-left: 80px;
}
#clearData{
	margin-right: 30px;
}
#fields{
	color: yellow;
	margin-left: 20px;
}
form fieldset ul#errors{
	color: yellow;
}










