/* Michael Bruchal
   03AUG2012
   VFW 1208
   Project 2
*/

body{
	font-family: Arial, Helvetica, Verdana, sans-serif; 
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #B3AFB0), color-stop(1, #000000));
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1{
	background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 553, color-stop(0, #FFFFFF), color-stop(1, #999697));
	-webkit-text-stroke: 1px red;
	color: red;
	text-shadow:
		3px 3px 0 #000,
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	text-align: center;
	border: 1px solid red;
	margin: 10px 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 30px;
	margin-left: 30px;
}	
p{
	color: black;
	padding-left: 10px;
}
li{
	display: block;
	line-height: 30px;
}
fieldset{
	background-color: #FCF7A9;
	word-wrap:normal;
	border: 1px solid red;
	margin: 5px;
}
legend {
	color: red;
	-webkit-text-stroke: 1px red;
	text-shadow:
		3px 3px 0 #000,
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
nav{
	margin-left: 40px;
}
div{
	margin-left: 10px;
}










